.mainWrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding-top: 25px;
}

.submissionStatus {
  border: 1px solid #666;
  border-radius: 3px;
  padding: 10px 20px 25px 20px;
  align-items: flex-end;
  box-shadow: 2px 2px 5px 0px #ccc;
}

.formBody {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid #666;
  border-radius: 3px;
  padding: 0px 20px 25px 20px;
  align-items: flex-end;
  box-shadow: 2px 2px 5px 0px #ccc;
}

.formBody h2 {
  align-self: flex-start;
}

.formLabel {
  padding: 15px 0px;
  font-size: large;
  color: #666;
  font-weight: bold;
  text-align: left;
}

.formInput {
  display: block;
  resize: none;
  width: 20em;
  margin: 5px 10px 10px 23px;
  padding: 7px;
  border-radius: 3px;
  border: 2px solid #999;
  font-family: Arial;
}

.formSubmit {
  background: transparent;
  border: 2px solid #999;
  border-radius: 3px;
  padding: 10px 25px;
  font-weight: bold;
  font-size: large;
  color: #666;
  cursor: pointer;
}

.formSubmit:hover,
.formSubmit:active,
.formSubmit:focus {
  background:#0070f3;
  color: #fff;
  border: 2px solid #0070f3;
  transition-property: background;
  transition-duration: 250ms;
}